<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
my_list = [15,78,10,45,89]
def swap(list1):
    temp=list1[0]
    list1[0]=list1[-1]
    list1[-1]=temp
    
    print("List after performing swap on first & last elements",list1)
    
swap(my_list)

List after performing swap on first & last elements [89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
a = 1204
b = 344536

def add(x,y):
    sum=x+y
    print('The sum of',x,'and',y,'is',sum)

add(a,b)

The sum of 1204 and 344536 is 345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
def evenodd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'
    
evenodd(33)

'odd'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
def factorial(num):
    if num<0:
        print('Factorial of negative numbers is not defined')
    elif num==0 or num==1:
        print('Factorial is 1')
    else:
        fact=1
        for i in range(1,num+1):
            fact=fact*i
    print('Factorial of',num,'is',fact)

x=int(input("Enter a number: "))
factorial(x)

Enter a number: 4
Factorial of 4 is 24

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
empty_list=[]
def appendelements(li, empty_list=[]):
    for i in li:
        empty_list.append(i)
    return empty_list

appendelements([1,2,3])

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [7]:
word1 = input('Enter first word: ')
word2 = input('Enter second word: ')

def firstcharmatch(w1,w2):
    if w1[0].lower()==w2[0].lower():
        print("First characters of both words are same")
    else:
        print("First characters of both words are different")
        
firstcharmatch(word1,word2)

Enter first word: Frank
Enter second word: Just
First characters of both words are different

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
vowels=['a','e','i','o','u','A','E','I','O','U']
li=[]
def checkvowel(a):
    for i in a:
        if i in vowels:
            li.append(i)
    print('Yes the string consists of these vowels',li)

checkvowel(input('Enter string to check for vowels: '))

Enter string to check for vowels: FreedOm
Yes the string consists of these vowels ['e', 'e', 'O']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [9]:
my_list=[1,2,3,3,11,34,3,3,4,5]

my_list=set(my_list)

print(list(my_list))

[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [1]:
string1='Angel'
string2='apple'

string1=set(string1)
string2=set(string2)


print('Common characters in both strings are: ',string1.intersection(string2))

Common characters in both strings are:  {'l', 'e'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [12]:
a=15
b=4

def arith(x,y):
    print('Sum:',x+y)
    print('Subt:',x-y)
    print('Mul:',x*y)
    
arith(a,b)

Sum: 19
Subt: 11
Mul: 60

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [13]:
my_list = [34,34,55,2,56,45]

def sumlist(li):
    total=0
    for i in li:
        total+= i
    print('Sum of elements of the list is',total)
    
sumlist(my_list)

Sum of elements of the list is 226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
check = lambda x,y: x if x<y else y

check(34,78)

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [15]:
number = (11,21,30,34)
print(number)

tuple(map(lambda x:x**2,number))

(11, 21, 30, 34)

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [16]:
sentence='Python for Data Science'

words=sentence.split()

list(map(lambda x:len(x),words))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [17]:
numbers=[74,85,14,23]

list(map(lambda x:x%5,numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [6]:
list1=['I','felt','happy','because','I','saw','the','others','were','happy']
list2=[11,22,33,44,55,66,77,88,99]

list(map(lambda x,y:x+str(y),list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [11]:
arr1=['t','u','t','o','r','i','a','l']
arr2=['p','o','i','n','t']

list(filter(lambda x:x in arr1,arr2))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [12]:
numbers = [21,23,443,355,743,823,110,1241,6373,352,278,37,7]
list(filter(lambda x:x%2==0,numbers))

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
from functools import reduce
reduce(lambda x,y:x+y,range(1,101))

5050

In [20]:
#accumulate example
from itertools import accumulate
list(accumulate(range(1,101), lambda x,y:x+y))

[1,
 3,
 6,
 10,
 15,
 21,
 28,
 36,
 45,
 55,
 66,
 78,
 91,
 105,
 120,
 136,
 153,
 171,
 190,
 210,
 231,
 253,
 276,
 300,
 325,
 351,
 378,
 406,
 435,
 465,
 496,
 528,
 561,
 595,
 630,
 666,
 703,
 741,
 780,
 820,
 861,
 903,
 946,
 990,
 1035,
 1081,
 1128,
 1176,
 1225,
 1275,
 1326,
 1378,
 1431,
 1485,
 1540,
 1596,
 1653,
 1711,
 1770,
 1830,
 1891,
 1953,
 2016,
 2080,
 2145,
 2211,
 2278,
 2346,
 2415,
 2485,
 2556,
 2628,
 2701,
 2775,
 2850,
 2926,
 3003,
 3081,
 3160,
 3240,
 3321,
 3403,
 3486,
 3570,
 3655,
 3741,
 3828,
 3916,
 4005,
 4095,
 4186,
 4278,
 4371,
 4465,
 4560,
 4656,
 4753,
 4851,
 4950,
 5050]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [22]:
my_list = [47,11,42,102,13]

reduce(lambda x,y:max(x,y),my_list)

102